<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'calculator/js/jquery.js' %}"></script>
    <title>Calculator</title>
</head>
<body>
    <div class="box">
        <div class="display">
            <input type="text" readonly size="10" id="d" style="text-align: right;" value="0">
        </div>
        <div class="keys">
            <p>
                <input type="button" class="digit" value="7">
                <input type="button" class="digit" value="8">
                <input type="button" class="digit" value="9">
                <input type="button" class="sign" value="/">
            </p>
            <p>
                <input type="button" class="digit" value="4">
                <input type="button" class="digit" value="5">
                <input type="button" class="digit" value="6">
                <input type="button" class="sign" value="*">
            </p>
            <p>
                <input type="button" class="digit" value="1">
                <input type="button" class="digit" value="2">
                <input type="button" class="digit" value="3">
                <input type="button" class="sign" value="-">
            </p>
            <p>
                <input type="button" class="digit" value="0">
                <input type="button" class="digit" value=".">
                <input type="button" value="C" id="c">
                <input type="button" class="sign" value="+">
            </p>
            <p>
                <input type="button" value="=" id="e">
            </p>
        </div>
    </div>
    <script>
        function getResult() {
            $.getJSON("/api/get_result/", function(json){
                $('#d').val(json['result']);
            });
        }
        function setExpression(data) {
            $.ajax({
                type: "POST",
                url: "/api/set_expression/",
                data: JSON.stringify(data),
                success: function(r){ console.log("success", r); $("#d").val(r["result"]);},
                error: function(r){ console.log(r); },
                contentType:"application/json",
                dataType: "json"
            });
        }
        $("#d").change(function(){
            getResult();
        });
        function addClickHandlers() {
            $(".digit").click(function() {
                var current = $("#d").val();
                var nu = $(this).val();
                if (current == "0") $("#d").val(nu);
                else $("#d").val(current+nu);
                return false;
            });

            $(".sign").click(function() {
                var cur_s = $("#d").val();
                var nu_s = $(this).val();
                $("#d").val(cur_s+nu_s).change();
                return false;
            });

            $("#c").click(function() {
                var c_data = {"expression": "0", "result": "0"};
                setExpression(c_data);
                return false;
            });
        }
        $(document).ready(function() {
            addClickHandlers();
            getResult();
        });
    </script>
</body>
</html>