<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'calculator/js/jquery.js' %}"></script>
    <title>Calculator</title>
</head>
<body>
    <div class="box">
        <div class="display">
            <input type="text" readonly size="10" id="d" style="text-align: right;" value="">
        </div>
        <div class="keys">
            <p>
                <input type="button" class="digit" value="7">
                <input type="button" class="digit" value="8">
                <input type="button" class="digit" value="9">
                <input type="button" class="sign" value="/">
            </p>
            <p>
                <input type="button" class="digit" value="4">
                <input type="button" class="digit" value="5">
                <input type="button" class="digit" value="6">
                <input type="button" class="sign" value="*">
            </p>
            <p>
                <input type="button" class="digit" value="1">
                <input type="button" class="digit" value="2">
                <input type="button" class="digit" value="3">
                <input type="button" class="sign" value="-">
            </p>
            <p>
                <input type="button" class="digit" value="0">
                <input type="button" class="digit" value=".">
                <input type="button" value="C" id="c">
                <input type="button" class="sign" value="+">
            </p>
            <p>
                <input type="button" value="=" id="e">
            </p>
        </div>
    </div>
    <input type="hidden" value="" id="h">
    <script>
        function getResult() {
            $.getJSON("/api/get_result/", function(json){
                var json_result = json['result'];
                $('#d').val(json_result);
                $('#h').val(json_result);
            });
        }
        function setExpression(data) {
            $.ajax({
                type: "POST",
                url: "/api/set_expression/",
                data: JSON.stringify(data),
                error: function(r){ console.log(r); },
                contentType:"application/json",
                dataType: "json"
            }).success(function(r) {
                console.log("success", r);
                $("#d").val(r["result"]);
                $("#h").val(r["result"]);
                });
        }
        function addClickHandlers() {
            $(".digit").click(function() {
                var current = $("#d").val();
                var hid = $("#h").val();
                var nu = $(this).val();
                if (current == hid && current != "Error") {
                    if (nu == ".") nu = "0.";
                    $("#d").val(nu);
                    $("#h").val("");
                }
                else if (current == "Error") {}
                else $("#d").val(current+nu);
                return false;
            });

            $(".sign").click(function() {
                var cur_s = $("#d").val();
                if (cur_s == "Error") {}
                var nu_s = $(this).val();
                var expression = cur_s+nu_s;
                var ajax_data = {"expression": expression};
                setExpression(ajax_data);
                return false;
            });

            $("#c").click(function() {
                var c_data = {"expression": "0", "result": "0"};
                setExpression(c_data);
                return false;
            });

            $("#e").click(function() {
                var cur_e = $("#d").val();
                var nu_e = $(this).val();
                var exp_e = cur_e + nu_e;
                var ajax_e = {"expression": exp_e};
                setExpression(ajax_e);
                return false;
            });
        }
        $(document).ready(function() {
            addClickHandlers();
            getResult();
        });
    </script>
</body>
</html>